.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.4s linear;
    transform: rotateX(90deg);

    &::after {
        content: "";
        background-color: $light-color-opacity;
        filter: blur(5px);
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.modal__active {
    transform: rotateX(0);
}

.modal__reviewes {
    display: none;
}

.modal__inner {

    width: 60rem;
    height: calc(100vh - 90px);
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    border-radius: 2rem;
    color: $light-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;

    background-color:  rgba(45, 51, 86, 0.8);
}

.modal__inner__header {
    max-width: 10rem;
    border-radius: 50%;
    padding-bottom: 2rem;


    & {
        img {
            border-radius: inherit;
            background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #808ac8, #ff819d) border-box;
            border: 5px solid transparent;
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            overflow: hidden;
        }
    }
}

.modal__inner__text {
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1.5rem;
}