
 $font-family: "Jost", sans-serif;
 $content-width: 1160px;


 // colors
 $light-color: #fff;
 $light-color-opacity: rgba(255, 255, 255, 0.7);
 $accent-color: #16BFFD;
 $accent-color-two: #eac23a;
 $accent-color-two-opacity: rgba(234, 194, 58, 0.5);

 $dark-color:#141024;
 $navheadertitle: #808ac8;


 $index: calc( 1vh + 1vw );
