<footer class="footer">
    <div class="container container--header">
        <div class="footer__inner">
            <div class="header__inner__logo">
                <img src="./assets/images/header/logo.png" alt="">
                <span class="header__inner__logo__title"><p>Школа</p> заботливой мамы</span>
            </div>
            <div class="footer__inner__social">
                <h1 class="footer__inner__social__title">Присоеденяйтесь к нам</h1>
                <div class="footer__inner__social__wrapper">
                    <a href="mailto:golovash.anastasya@yandex.ru" target="_blank" class="footer__social__item">
                        <img src="./assets/images/footer/mail.svg" alt="" class="footer__social__iten__icon">
                    </a>
                    <a href="https://t.me/+79205779519" target="_blank" class="footer__social__item">
                        <img src="./assets/images/footer/telegram.svg" alt="" class="footer__social__iten__icon">
                    </a>
                    <a href="https://wa.me/79205779519" target="_blank" class="footer__social__item">
                        <img src="./assets/images/footer/whatsapp.svg" alt="" class="footer__social__iten__icon">
                    </a>
                    <a href="https://vk.com/rodi_legko_sama" target="_blank" class="footer__social__item">
                        <img src="./assets/images/footer/вконтакте.svg" alt="" class="footer__social__iten__icon">
                    </a>
                    <a href="tel:+79205779519" target="_blank" class="footer__social__item">
                        <img src="./assets/images/footer/phone.svg" alt="" class="footer__social__iten__icon">
                    </a>
                </div>
            </div>
            <div class="header__inner__author"> 
                <span class="header__inner__title">Онлайн школа</span>
                <span class="header__inner__subtitle">Анастасии Головаш</span>
            </div>
        </div>
    </div>
</footer>
