<header>
    <div class="container container--header">
        <div class="header__inner">
            <a href="./index.html" class="header__inner__href">
                <div class="header__inner__logo">
                    <img src="./assets/images/header/logo.png" alt="">
                    <span class="header__inner__logo__title"><p>Школа</p> заботливой мамы</span>
                </div>
            </a>


            <ul class="header__inner__nav">
                <li class="header__inner__nav__item">
                    <a href="" class="header__item__href">О курсе</a>
                </li>
                <!-- <li class="header__inner__nav__item">
                    <a href="" class="header__item__href">Особенности курса</a>
                </li> -->
                <li class="header__inner__nav__item">
                    <a href="" class="header__item__href">Обучение</a>
                </li>
                <li class="header__inner__nav__item header__inner__nav__item--subnav">
                    <a href="" class="header__item__href">Программа курса</a>
                    <ul class="header__items__subnav">
                        <li class="header__subnav__item">
                            <a href="theory.html" class="header__item__href__subnav">Теоретическа часть</a>
                        </li>
                        <li class="header__subnav__item">
                            <a href="" class="header__item__href__subnav">Гимнастика беременной</a>
                        </li>
                        <li class="header__subnav__item">
                            <a href="" class="header__item__href__subnav">Рацион питания</a>
                        </li>
                        <li class="header__subnav__item">
                            <a href="" class="header__item__href__subnav">Послеродовой период</a>
                        </li>
                    </ul>
                </li>
                <li class="header__inner__nav__item">
                    <a href="./about.html" class="header__item__href">обо мне</a>
                </li>
            </ul>
            <div class="header__inner__author"> 
                <span class="header__inner__title">Онлайн школа</span>
                <span class="header__inner__subtitle">Анастасии Головаш</span>
            </div>
        </div>
    </div>
</header>