<sidebar class="sidebar">
    <ul class="sidebar__social">
        <!-- <li class="sidebar__social__item">
            <a href="" class="sidebar__social__item__href">
                <img src="./assets/images/sidebar/user-svgrepo-com.svg" alt="">
            </a>
        </li>
        <li class="sidebar__social__item">
            <a href="" class="sidebar__social__item__href">
                <img src="./assets/images/sidebar/login-svgrepo-com.svg" alt="">
            </a>
        </li> -->
        <li class="sidebar__social__item">
            <a href="mailto:golovash.anastasya@yandex.ru" target="_blank" class="sidebar__social__item__href">
                <img src="./assets/images/footer/mail.svg" alt="">
            </a>
        </li>
        <li class="sidebar__social__item">
            <a href="https://t.me/+79205779519" target="_blank" class="sidebar__social__item__href">
                <img src="./assets/images/footer/telegram.svg" alt="">
            </a>
        </li>
        <li class="sidebar__social__item">
            <a href="https://wa.me/79205779519" target="_blank" class="sidebar__social__item__href">
                <img src="./assets/images/footer/whatsapp.svg" alt="">
            </a>
        </li>
        <li class="sidebar__social__item">
            <a href="https://vk.com/rodi_legko_sama" target="_blank" class="sidebar__social__item__href">
                <img src="./assets/images/footer/вконтакте.svg" alt="">
            </a>
        </li>
        <li class="sidebar__social__item">
            <a href="tel:+79205779519" target="_blank" class="sidebar__social__item__href">
                <img src="./assets/images/footer/phone.svg" alt="">
            </a>
        </li>
    </ul>
</sidebar>